{% load static %}
<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- BootstrapのCSS読み込み -->
    <link href="{% static "/yugioh_cardDB/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="{% static "/yugioh_cardDB/bootstrap/js/bootstrap.min.js" %}"></script>
    <link href="{% static "/yugioh_cardDB/css/base.css" %}" rel="stylesheet">
    {% block title %}
        <title>
            template
        </title>
    {% endblock %}
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url "index" %}">遊戯王カード検索</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="ナビゲーションの切替">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form class="form-inline" action="{% url "search_result" %}" method="get">
            <input class="form-control mr-sm-2" type="text" name="search_text" placeholder="検索..." aria-label="検索...">
            <label class="radio-inline my-2 my-sm-0">
                <input type="radio" name="name_or_all" value="name" checked>名前
            </label>
            <label class="radio-inline my-2 my-sm-0">
                <input type="radio" name="name_or_all" value="all">全て
            </label>
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0">検索</button>
        </form>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "index" %}">ホーム</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "pack_list" %}">カードリスト</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "search" %}">詳細カード検索</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div id="main" class="col-sm-12 col-md-9 mx-auto">
            {% block main %}
            {% endblock %}
        </div>
    </div>
</div>
<footer>

</footer>
</body>
</html>