<table class="table-borderless">
    <tr>
        <th>情報取得日時</th>
        <th>レア度</th>
        <th>ショップ名</th>
        <th>価格</th>
    </tr>
    {% for price_dict in price_data %}
        {% for shop_url in price_dict.shop_urls %}
            <tr>
                <td>{{ shop_url.registration_date }}</td>
                <td>{{ shop_url.rarity }}</td>
                <td><a href="{{ shop_url.card_url }}">{{ shop_url.search_page }}</a></td>
                <td>{{ shop_url.now_price }}</td>
            </tr>
        {% endfor %}
    {% endfor %}
</table>