{% extends '../src/base.html' %}
{% block title %}
    <title>
        {{ card.card_name }}
    </title>
{% endblock %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="mx-auto">
                <h2 class="name">
                    <span class="ruby">{{ card.phonetic }}</span>
                    {{ card.card_name }}
                    <span class="english_name">{{ card.english_name }}</span>
                </h2>
            </div>
        </div>
        <div class="row">
            <h3>
                詳細情報
            </h3>
        </div>
        <div class="row">
            <h3>
                価格情報
            </h3>
        </div>
        <div class="row">
            <table class="table-borderless">
                <tr>
                    <th>情報取得日時</th>
                    <th>レア度</th>
                    <th>ショップ名</th>
                    <th>価格</th>
                </tr>
                {% for price in price_date %}
                    <tr>
                        <td>{{ price.registration_date }}</td>
                        <td>{{ price.shop_url.rarity }}</td>
                        <td><a href="{{ price.shop_url.card_url }}">{{ price.shop_name }}</a></td>
                        <td>{{ price.price }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
