{% extends '../src/base.html' %}
{% block title %}
    <title>
        {{ card.card_name }}
    </title>
{% endblock %}
{% block main %}
    {% load static %}
    <div class="container">
        <div class="row">
            <div class="mx-auto">
                <h2 class="name">
                    <span class="ruby">{{ card.phonetic }}</span>
                    {{ card.card_name }}
                    <span class="english_name">{{ card.english_name }}</span>
                </h2>
            </div>
        </div>
        <div class="card_detail">
            <div class="row">
                <h3>
                    カード情報
                </h3>
            </div>
            <div class="raw">
                {% include '../src/card_detail/card_detail.html' %}
            </div>
        </div>
        <div class="card_effect">
            <div class="row">
                <h3>効果</h3>
            </div>
            <div class="row">
                {{ card.card_effect | linebreaksbr }}
            </div>
            {% if "Pendulum" in classification %}
                <div class="row">
                    <h3>P効果</h3>
                </div>
                <div class="row">
                    {{ card.pendulum_effect | linebreaksbr }}
                </div>
            {% endif %}
        </div>
        <div class="price">
            <div class="row">
                <h3>
                    価格情報
                </h3>
            </div>
            <div class="row">
                {% include '../src/price_data.html' %}
            </div>
        </div>
    </div>
{% endblock %}
