{% extends '../src/base.html' %}
{% block title %}
    <title>
        {{ card.card_name }}
    </title>
{% endblock %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="mx-auto">
                <h2 class="name">
                    <span class="ruby">{{ card.phonetic }}</span>
                    {{ card.card_name }}
                    <span class="english_name">{{ card.english_name }}</span>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
            {{ card.classification_string }}
                {% if "リンク" in card.classification_string %}
                    {{ card.get_monster.get_marker_string }}
                {% elif "ペンデュラム" in card.classification_string %}
                    ペンデュラム
                {% elif not "魔法" in card.classification_string and not "罠" in card.classification_string %}
                    モンスター
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
