{% extends '../src/base.html' %}
{% block title %}
    <title>{{ pack.pack_name }}</title>
{% endblock %}
{% block main %}
    <h2>{{ pack.pack_name }}</h2>
    <table>
        <tr>
            <th>カードID</th>
            <th>カード名</th>
            <th>カード分類</th>
        </tr>
        {% for card_id in pack.get_recording_cards %}
            <tr>
                <td>{{ card_id.card_id }}</td>
                <td><a href="{% url "card_detail" card_id.card_name.id %}">{{ card_id.card_name }}</a></td>
                <td>{{ card_id.card_name.classification_string }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}